<header class="header">
    <div class="header__in center_block">
        <a href="/" class="header__logo">
            <img src="./img/svg/logo.svg" alt="A-Markets">
        </a>
        <nav class="header__menu" v-if="sizes.window >= 1023">
            <ul>
                <li><a href="#about">О конкурсе</a></li>
                <li><a href="#investments">Инвестиции</a></li>
            </ul>
        </nav>
        <div class="header__burger" :class="{'isOpened': header.isMobileMenuOpened}" v-if="sizes.window <= 1023">
            <div class="header__burger--icon" @click.prevent="header.toogleMobileMenu.apply(header)"></div>
            <div class="header__burger--body">
                <div class="header__burger--top">
                    <a href="/" class="header__burger--logo">
                        <img src="./img/svg/logo.svg" alt="A-Markets">
                    </a>
                    <div class="header__search_mob">
                        <div class="header__search_mob--btn"></div>
                    </div>
                    <div class="header__burger--close" @click.prevent="header.toogleMobileMenu.apply(header)"></div>
                </div>
                <div class="header__burger--item">
                    <nav class="header__burger--menu" @click="header.toogleMobileMenu.apply(header)">
                        <ul>
                            <li><a href="#about">О конкурсе</a></li>
                            <li><a href="#investments">Инвестиции</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>