@font-face {
	font-family: "HelveticaNeueCyr";
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("ttf");
	font-weight: 300;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("ttf");
	font-weight: 500;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("ttf");
	font-weight: 700;
}
@font-face {
	font-family: "HelveticaNeueCyr";
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("ttf");
	font-weight: 400;
}
